.leFadeInTop span {
  animation-name: leFadeInTop;
  font-size: 40px;
}
@keyframes leFadeInTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
.fadeInTop {
  animation-name: fadeInTop;
  transition: all 2s;
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
  }
}
.electricity {
  font-size: 30px;
  animation-name: electricity;
  animation-iteration-count: infinite;
}
@keyframes electricity {
  from,
  37%,
  67%,
  85%,
  93% {
    transform: translateY(30px);
  }
  4%,
  64%,
  88% {
    transform: translateY(10px);
  }
  8%,
  24%,
  32%,
  44% {
    transform: translateY(5px);
  }
  12%,
  52%,
  60%,
  20% {
    transform: translateY(10px);
  }
  16%,
  40% {
    transform: translateY(5px);
  }
  28%,
  56% {
    transform: translateY(10px);
  }
  48%,
  72%,
  80%,
  96% {
    transform: translateY(30px);
  }
  76%,
  to {
    transform: translateY(40px);
  }
}
